{% extends 'base.html.twig' %}

{% block title %}Modifier Catégorie{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Modifier Catégorie</h1>

        <div class="shadow-box p-4 bg-white mt-4" style="border-radius: 15px;">
            {{ include('category/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
        </div>

        <div class="mt-4 d-flex justify-content-between">
            <a href="{{ path('app_category_index') }}" class="btn btn-secondary">Retour</a>

            {% if is_granted('ROLE_ADMIN') %}
                {{ include('category/_delete_form.html.twig') }}
            {% endif %}
        </div>
    </div>
{% endblock %}
